<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$CONTENT_TITLE - Nhà hàng ABC">
            Nhà hàng ABC
        </title>
    </head>

    <body>

        <!-- HEADER -->
        <header>
            <h1>Nhà hàng ABC</h1>
            <hr/>
        </header>

        <!-- CONTENT -->
        <main layout:fragment="content">
            <!-- Nội dung -->
        </main>

        <!-- FOOTER -->
        <footer>
            <hr/>
            <p>Liên hệ: 0123-456-789</p>
        </footer>

    </body>
</html>